* {
  text-align: center;
}
#headerBackground {
  background-image: url('../images/the-martian.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
   color: #ffffff;
   font-size: 30px;
   font-weight: 100;
   letter-spacing: 3px;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav:hover > li > a {
  color: #ffffff;
  font-size: 15px;
  font-weight: 200;
  margin-top: 3px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
h1 {
  font-weight: 100;
  letter-spacing: 5px;
  float: left;
}
li {
  list-style-type: none;
  display: inline;
}
a:link, a:visited {
  text-decoration: none;
}
.register-btn {
  background-color: transparent;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 20px;
}
.form-control {
  width: 400px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
button.modal-btn, button.modal-btn:hover {
  background-color: transparent;
  color: #ffffff;
}
button.form-button, button.form-btn:hover {
  background-color: transparent;
  color: #080808;
}
.nav-link:link, .nav-link:visited, .footer-links:link, .footer-links:visited {
  color: #ffffff;
}
.btn-default:link, .btn-default:hover, .btn-default:active, .btn-default:visited, .sign-up.btn {
  background-color: transparent;
  color: #ffffff;
}
#fold {
  color: #ffffff;
  margin-bottom: 50px;
}
.journey {
  font-size: 25px;
  font-weight: 100;
}
.hook {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 2px;
}
.learn-more {
  position: relative;
  display: inline-block;
  border: 1px solid #ffffff;
}
.info {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  width: 100%;
}
.image-text {
  color: #ffffff;
  font-weight: 100;
  margin-top: 45px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.image-responsive {
  width: 100%;
  height: auto;
}
.statement {
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}
#mission {
  margin-top: 50px;
  margin-bottom: 50px;
}
h3 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 20px;
}
.statement {
  font-size: 18px;
  font-weight: 200;
}
#testimonial {
  margin-top: 50px;
  margin-bottom: 50px;
}
.quote {
  font-size: 30px;
  font-weight: 100;
}
.armstrong {
  font-size: 18px;
  font-weight: 200;
  color: #C1C1C1;
  font-style: italic;
  margin-top: 20px;
}
.btn-primary:link, .btn-primary:visited, .btn-primary:hover {
  background-color: transparent;
  color: #A6A5A3;
  border-color: #A6A5A3;
  margin-top: 20px;
}
footer {
  background-color: #2C2F2F;
  width: 100%;
  height: 80px;
  margin-top: 50px;
  padding-top: 30px;
}
footer .nav-list {
  margin-left: 10px;
  margin-right: 10px;
}
a.social, a.social:hover, a.social:visited {
  color: #ffffff;
  text-decoration: none;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #headerBackground {
    background-size: cover;
  }
  .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
   font-size: 35px;
  }
  .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav:hover > li > a {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  #fold {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .journey {
    font-size: 35px;
  }
  .hook {
    font-size: 40px;
  }
  #mission h3 {
    font-size: 40px;
    font-weight: 100;
  }
  .statement {
    width: 600px;
    font-size: 18px;
  }
  .image-text {
    font-size: 25px;
  }
  footer {
    padding-top: 0px;
  }
  footer .nav-list {
    margin-left: 20px;
    margin-right: 20px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #headerBackground {
    min-height: 550px;
  }
  .journey {
    font-size: 45px;
  }
  .hook {
    font-size: 50px;
  }
  #mission h3 {
    font-size: 45px;
  }
  .statement {
    font-size: 20px;
  }
  .image-text {
    font-size: 25px;
  }
  #testimonial {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  footer {
    margin
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #headerBackground {
    min-height: 600px;
  }
  .image-text {
    font-size: 25px;
  }
}