* {
  text-align: center;
}
a:link, a:visited {
  text-decoration: none;
}
#headerBackground {
  background-image: url('../images/the-martian.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 720px;
  margin-bottom: 30px;
}
#logo, #fold, #navbar {
  color: #ffffff;
}
h1.main-head, h1.pilot-head {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 5px;
}
button.modal-btn, button.modal-btn:hover {
  background-color: transparent;
  color: #ffffff;
}
button.form-button, button.form-btn:hover {
  background-color: transparent;
  color: #080808;
}
#registerLabel {
  font-size: 25px;
  font-weight: 100;
}
form input {
  width: 300px;
  text-align: left;
  margin-top: 20px;
}
#fold {
  margin-top: 100px;
}
h2 {
  font-size: 45px;
  font-weight: 100;
}
.hook {
  font-size: 65px;
  font-weight: 100;
  letter-spacing: 5px;
}
.nav-list {
  display: inline;
  list-style: none; /* may move this higher or lower */
}
#navBar {
  margin-top: 30px;
}
.nav-link:link, .nav-link:visited, .footer-links:link, .footer-links:visited {
  color: #ffffff;
  font-weight: 200;
  margin-left: 40px;
  margin-right: 40px;
  letter-spacing: 2px;
}
.btn-default:link, .btn-default:hover, .btn-default:active, .btn-default:visited, .sign-up.btn {
  background-color: transparent;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 1px;
}
#mission {
  margin-top: 50px;
  margin-bottom: 50px;
}
h3 {
  font-size: 45px;
  font-weight: 100;
  margin-bottom: 50px;
}
.statement {
  font-size: 21px;
  font-weight: 200;
  text-align: left;
}
#main {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.learn-more {
  position: relative;
  display: inline-block;
  border: 1px solid #ffffff;
}
.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-top: -10px;
}
.image-text {
  color: #ffffff;
  font-size: 25px;
  font-weight: 100;
  margin-top: 45px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
#testimonial {
  margin-top: 50px;
  margin-bottom: 50px;
}
.quote {
  font-size: 30px;
  font-weight: 100;
}
.armstrong {
  font-size: 18px;
  font-weight: 200;
  color: #C1C1C1;
  font-style: italic;
  margin-top: 20px;
}
.btn-primary:link, .btn-primary:visited, .btn-primary:hover {
  background-color: transparent;
  color: #A6A5A3;
  border-color: #A6A5A3;
  margin-top: 20px;
}
footer {
  background-color: #2C2F2F;
  width: 100%;
  height: 80px;
  margin-top: 50px;
  padding-top: 20px;
}
.social:link, .social:hover, .social:visited {
  color: #ffffff;
  margin-left: 15px;
}
h6 {
  font-size: 27px;
  font-weight: 100;
  display: inline;
  float: left;
  color: #ffffff;
}
/* Begin custom CSS for pilot page */
#pilotHead {
  background-image: url('../images/milkyway.jpg');
  opacity: .90;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}
.glyph {
  background-color: transparent;
  color: #ffffff;
  border: none;
  margin-top: 20px;
  margin-left: 80px;
}
.index:link, .index:visited {
  color: #ffffff;
  font-weight: 100;
  margin-left: 40px;
  margin-right: 40px;
  letter-spacing: 2px;
}
.pilot-meet {
  font-size: 70px;
  color: #ffffff;
  margin-top: 50px;
}
.pilot-row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.pilot-name {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.pilot-bio, .martian-test {
  font-size: 16px;
  text-align: left
}
/* being custom CSS for testimonials */
#testimonialHead {
  background-image: url('../images/mann.jpg');
  background-size: cover;
  width: 100%;
  height: 300px;
}
.profile-row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.testimonial-hook {
  font-size: 70px;
  color: #ffffff;
}
.profile {
  background-color: #f8f8f8;
  padding-top: 40px;
  border: 1px solid #ffffff;
  margin-bottom: 30px;
}
.bio-head {
  margin-top: 50px;
  font-size: 35px;
  font-weight: 100;
}
.martian-test {
  margin-top: 50px;
  margin-bottom: 50px;
}
.sponsor-row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.sponsors {
  font-size: 45px;
  font-weight: 100;
  margin-bottom: 30px;
}
.sponsor-logo {
  display: inline-block;
  padding: 0px 35px 0px 35px;
}
/* start custom css for space tier */
.purchase-tiers {
  position: relative;
  display: inline-block;
  border: 1px solid #ffffff;
}
.tier-head, .black-btn {
  color: #080808 !important;
}
.tier-image {
  max-width: 100%;
  height: auto;
  width: auto;
}
.tier-hook {
  font-size: 40px;
  font-weight: 100;
}
.purchase {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 50px;
}
.purchase-text {
  font-size: 42px;
  font-weight: 200;
  letter-spacing: 2px;
}
.purchase-button {
  font-size: 30px;
  font-weight: 100 !important;
}
.tier-analysis {
  text-align: left;
}
#carousel-space-tier {
  background-color: #ffffff;
  width: 1280px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.carousel-inner .item img {
  width: 1280px;
  max-height: 700px;
  margin-right: auto;
  margin-left: auto;
}
.ship-container {
  background-color: #FAFAFA;
  width: 100%;
  height: 350px;
  padding-top: 30px;
}
.ship {
  margin-bottom: 50px;
}
.ship p {
  font-size: 25px;
  font-weight: 200;
}
.ship p, .ship h3 {
  margin-top: 50px;
}
.table-container {
  margin-top: 50px;
}
thead tr th {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}
.td-title {
  font-size: 25px;
  font-weight: 100;
}
tr td {
  text-align: left;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
td ul li {
  font-size: 18px;
  font-weight: 200;
  margin-top: 5px;
  text-align: left;
  list-style: none;
}
.summary, .pricing, .specs {
  padding-top: 30px;
  padding-bottom: 30px;
}
.buy-btn {
  background-position: 0 center;
  width: 60px;
  height: 30px;
  padding: 0px;
  margin-top: 20px;
}
.form-control {
  width: 400px;
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
}
.email {
  margin-top: 15px;
}
.passengers {
  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.radio {
  display: inline;
  margin-right: 25px;
  margin-bottom: 15px;
  margin-top: 30px;
}
select {
  margin-top: 15px;
}
.checkout-btn {
  background-position: 0 center;
  margin-top: 20px;
}
.modal-footer .close {
  float: left;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 200;
}