* {
  text-align: center;
}
#headerBackground {
  background-image: url('../images/the-martian.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
   color: #ffffff;
   font-size: 30px;
   font-weight: 100;
   letter-spacing: 3px;
   margin-top: 10px;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav:hover > li > a {
  color: #ffffff;
  font-size: 15px;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.navbar-toggle {
  margin-top: 20px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
h1 {
  font-weight: 100;
  letter-spacing: 5px;
  float: left;
}
.nav-li {
  list-style-type: none;
  display: inline;
}
a:link, a:visited {
  text-decoration: none;
}
.register-btn {
  background-color: transparent;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
}
#registerLabel {
  font-size: 30px;
  font-weight: 100;
}
#newsLetter {
  margin-top: 10px;
}
.form-control {
  width: 400px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.modal-body form input {
  text-align: left;
}
button.modal-btn, button.modal-btn:hover {
  background-color: transparent;
  color: #ffffff;
}
button.form-button, button.form-btn:hover {
  background-color: transparent;
  color: #080808;
}
.nav-link:link, .nav-link:visited, .footer-links:link, .footer-links:visited {
  color: #ffffff;
}
.btn-default:link, .btn-default:hover, .btn-default:active, .btn-default:visited, .sign-up.btn {
  background-color: transparent;
  color: #ffffff;
}
#fold {
  color: #ffffff;
  margin-bottom: 50px;
}
.journey {
  font-size: 25px;
  font-weight: 100;
}
.hook {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 2px;
}
.learn-more {
  position: relative;
  display: inline-block;
  border: 1px solid #ffffff;
}
.info {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  width: 100%;
}
.image-text {
  color: #ffffff;
  font-weight: 100;
  margin-top: 45px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.image-responsive {
  width: 100%;
  height: auto;
}
.statement {
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}
#mission {
  margin-top: 100px;
  margin-bottom: 100px;
}
h3 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 20px;
}
.statement {
  font-size: 18px;
  font-weight: 200;
}
#testimonial {
  margin-top: 50px;
  margin-bottom: 50px;
}
.quote {
  font-size: 30px;
  font-weight: 100;
}
.armstrong {
  font-size: 18px;
  font-weight: 200;
  color: #C1C1C1;
  font-style: italic;
  margin-top: 20px;
}
.btn-primary:link, .btn-primary:visited, .btn-primary:hover {
  background-color: transparent;
  color: #A6A5A3;
  border-color: #A6A5A3;
  margin-top: 20px;
}
footer {
  background-color: #2C2F2F;
  width: 100%;
  height: 80px;
  margin-top: 50px;
  padding-top: 30px;
}
footer .nav-list {
  margin-left: 10px;
  margin-right: 10px;
}
a.social, a.social:hover, a.social:visited {
  color: #ffffff;
  text-decoration: none;
}
/* Custom CSS for pilot page */
#pilotHead {
  background-image: url('../images/milkyway.jpg');
  opacity: .90;
  background-size: no-repeat;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.pilot-row {
  margin-top: 50px;
}
.pilot-name {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 30px;
}
.pilot-bio {
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 50px;
}
/* Custom CSS for testimonial page */
#testimonialHead {
  background-image: url('../images/mann.jpg');
  background-size: no-repeat;
  width: 100%;
  height: auto;
}
.black-hook {
  color: #080808;
}
.profile-row {
  margin-bottom: 50px;
  margin-top: 50px;
}
.profile {
  background-color: #f8f8f8;
  padding-top: 40px;
  border: 1px solid #ffffff;
  margin-bottom: 30px;
}
.bio-head {
  margin-top: 50px;
  font-size: 35px;
  font-weight: 100;
}
.martian-test {
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 50px;
}
.sponsor-row {
  margin-top: 50px;
}
.sponsors {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 30px;
}
.sponsor-logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}
/* Custom CSS for space tiers page */
#tierHead {
  background-color: #FAFAFA;
  width: 100%;
}
.navbar-default .black, .navbar-default .black:hover {
   color: #080808;
   font-size: 30px;
   font-weight: 100;
   letter-spacing: 3px;
   margin-top: 10px;
}
.navbar-default .black-nav > li > a, .navbar-default .black-nav:hover > li > a {
  color: #080808;
  font-size: 15px;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.navbar-default .navbar-toggle .black-icon {
  background-color: #080808;
}
.navbar-default .black-toggle {
  margin-top: 20px;
}
.black-btn, .black-btn:hover {
  background-color: transparent;
  color: #080808;
  margin-left: 20px;
}
#carousel-space-tier {
  background-color: #ffffff;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.carousel-caption {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.carousel-inner .item img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.purchase-text {
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 2px;
}
.purchase-button {
  font-size: 25px;
  font-weight: 100;
}
.ship-container {
  background-color: #FAFAFA;
  width: 100%;
  height: 300px;
  padding-top: 30px;
}
.ship-container h3 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.neill-quote {
  font-size: 20px;
  font-weight: 200;
  margin-top: 30px;
}
.neill {
  font-size: 15px;
  font-style: italic;
}
table {
  margin-top: 50px;
}
table li {
  list-style-type: none;
  text-align: left;
  margin-bottom: 10px;
}
.table-title {
  text-align: center;
  font-size: 22px;
  font-weight: 200;
}
.td-title {
  font-size: 20px;
  font-weight: 100;
  text-align: left;
}
.specs, .pricing {
  padding-bottom: 5px;
}
.buy, .buy:hover {
  background-color: #337AB7;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 10%;
  padding: 7px 10px 7px 10px;
}
/* Custom CSS for checkout page */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    #headerBackground {
      background-size: cover;
      height: 400px;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
     font-size: 35px;
    }
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav:hover > li > a {
      font-size: 16px;
      font-weight: 200;
      margin-bottom: 10px;
      margin-left: 20px;
    }
    #fold {
      margin-top: 30px;
      margin-bottom: 60px;
    }
    .journey {
      font-size: 35px;
    }
    .hook {
      font-size: 40px;
    }
    #mission h3 {
      font-size: 40px;
      font-weight: 100;
    }
    .statement {
      width: 600px;
      font-size: 18px;
    }
    .image-text {
      font-size: 25px;
    }
    footer {
      padding-top: 0px;
    }
    footer .nav-list {
      margin-left: 20px;
      margin-right: 20px;
    }
    .sponsor-logo {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
    }
    .sponsor-row {
      margin-bottom: 30px;
    }
    #testimonialHead {
      background-image: url('../images/mann.jpg');
      background-size: cover;
      width: 100%;
      height: auto;
    }
    .purchase-text {
      font-size: 40px;
      margin-top: 30px;
    }
    .purchase-button {
      font-size: 27px;
    }
    .ship-container h3 {
      font-size: 35px;
    }
    .neill-quote {
      font-size: 25px;
      margin-top: 30px;
    }
    .neill {
      font-size: 15px;
    }
    .table-title {
      text-align: center;
      font-size: 28px;
      font-weight: 200;
    }
    .td-title {
      font-size: 25px;
      font-weight: 100;
      text-align: left;
    }
    .summary, .specs, .pricing {
      font-size: 18px;
      font-weight: 200;
    }
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    #headerBackground {
      min-height: 550px;
    }
    .journey {
      font-size: 45px;
    }
    .hook {
      font-size: 50px;
    }
    #mission h3 {
      font-size: 45px;
    }
    .statement {
      font-size: 20px;
    }
    .image-text {
      font-size: 25px;
    }
    #testimonial {
      margin-top: 65px;
      margin-bottom: 65px;
    }
    .sponsor-logo {
      display: inline-block;
      padding: 0px 30px 0px 30px;
    }
    .purchase-text {
      font-size: 50px;
      margin-top: 50px; 
    }
    .purchase-button {
      font-size: 35px;
    }
    .ship-container h3 {
      font-size: 40px;
    }
    .neill-quote {
      font-size: 30px;
      margin-top: 30px;
    }
    .table-title {
      font-size: 30px;
    }
    .td-title {
      font-size: 25px;
    }
  }
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    #headerBackground {
      min-height: 600px;
    }
    .journey {
      font-size: 60px;
    }
    .hook {
      font-size: 70px;
    }
    .statement {
      width: 800px;
    }
    .image-text {
      font-size: 25px;
    }
    .sponsor-logo {
      display: inline-block;
      padding: 0px 35px 0px 35px;
    }
    #carousel-space-tier {
      max-height: 855px;
    }
    .carousel-caption {
      max-height: 855px;
    }
    .carousel-inner .item img {
      max-height: 855px;
    }
    .purchase-text {
      font-size: 80px;
      margin-top: 70px;
    }
    .purchase-button {
      font-size: 40px;
    }
  }