/* ----- COLORS ----- */
$white:      #FEFEFE;
$black:      #030303;
$gray:       #868686;
$dark-gray:  #6C6C6C;
$fold-gray:  #F4F4F4;
$light-gray: #BDBDBD;
$orange:     #FF9900;
$red-orange: #FF6600;

/* ----- FONTS ----- */
// Size
$huge-header: 40px;
$big-header:  30px;
$nav-link:    16px;
$hook:        40px;
$sub-header:  20px;
$pilot:       18px;
$paragraph:   18px;
$human:       15px;
$human-info:  13px;

// Weight
$skinny: 100;
$thin:   200;

// Spacing
$gap: 1px;

/* ----- MARGINS ----- */
// Auto
@mixin auto {
  margin-left:  auto;
  margin-right: auto;
}

// Nav
$nav-top:  33px;
$nav-left: 20px;

// Hook
$nudge: 20px;
$bump:  30px;
$push:  40px;
$shove: 50px;

// Mission
$mission-top: 300px;

/* ----- BEGIN CSS ----- */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.fold-background {
  background: url('/public/images/the-martian.jpg');
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  z-index: -1;
}
#company {
  color: $white;
  font-size: $big-header;
  font-weight: $thin;
  letter-spacing: $gap;
}
nav {
  margin-top: $nav-top;

  .nav-link {
    color: $white;
    font-size: $nav-link;
    font-weight: $thin;
    text-decoration: none;
    float: right;
    margin-left: $nav-left;
  }

  .nav-link:focus {
    outline: 0
  }

  .register-link {
    border: 1px solid $white;
    border-radius: 28px;
    padding: 1px 10px 1px 10px;
  }
}
.hook-row {
  text-align: center;
  color: $white;
  margin-top: $shove;

  #hook {
    font-size: $hook;
    font-weight: $skinny;
    letter-spacing: $gap;
    text-align: center;
    margin-bottom: $nudge;
  }

  #discover {
    color: $white;
    font-size: $sub-header;
    font-weight: $thin;
    text-decoration: none;
  }
}
.mission-row {
  color: $dark-gray;
  margin: {
    top: $mission-top;
    bottom: $shove;
  }

  #mission {
    font-size: $huge-header;
    font-weight: $skinny;
    text-align: center;
    margin-bottom: $push;
  }

  .mission-statement {
    font-size: $paragraph;
    font-weight: $thin;
  }
}
.pilot-container {
  background-color: $fold-gray;
  width: 100%;
  text-align: center;
  margin-top: $shove;

  #pilotHeader {
    font-size: $huge-header;
    font-weight: $skinny;
    font-style: italic;
    letter-spacing: $gap;
    margin: {
      top: $shove;
      bottom: $shove;
    }
  }

  .pilot-name {
    font-size: $sub-header;
    margin-top: $nudge;
  }

  .pilot-bio {
    font-size: $paragraph;
    font-weight: $thin;
    text-align: left;
    width: 300px;
    margin: {
      top: $nudge;
      bottom: $shove;
    }
    @include auto;
  }
}
#text-carousel {
  text-align: center;
  margin: {
    top: $shove;
    bottom: $shove;
  }

  #testimonialHeader {
    font-size: $huge-header;
    font-weight: $skinny;
    letter-spacing: $gap;
    margin-bottom: 90px;
  }

  .testimonial {
    font-size: $paragraph;
    color: $gray;
    padding-bottom: $nudge;
    border-bottom: 1px solid $light-gray;
  }

  .human {
    color: $dark-gray;
    display: inline-block;
  }

  .title {
    color: $light-gray;
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none
  }
}