// ----- COLORS ----- 
$white:      #FEFEFE;
$black:      #030303;
$gray:       #868686;
$dark-gray:  #6C6C6C;
$fold-gray:  #F4F4F4;
$light-gray: #BDBDBD;
$orange:     #FF9900;
$red-orange: #FF6600;

// ----- FONTS ----- 
// Size
$hook:        45px;
$huge-header: 40px;
$big-header:  30px;
$sub-header:  20px;
$paragraph:   18px;
$little-p:    16px;
$order:       12px;

// Weight
$skinny: 100;
$thin:   200;

// Spacing
$gap: 1px;

// ----- MARGINS ----- 
// Auto
@mixin auto {
  margin-left:  auto;
  margin-right: auto;
}

// Content
@mixin contentSpace {
  margin: {
    top: $shove;
    bottom: $shove;
  }
}

// Absolute
@mixin absolute {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
}

// Nav
$nav-top:  33px;
$nav-left: 20px;

// Hook
$nudge: 20px;
$bump:  30px;
$push:  40px;
$shove: 60px;

// Mission
$mission-top:  250px;
$mission-top2: 300px;

// ----- BEGIN CSS ----- 
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.fold-background {
  background: url('/public/images/the-martian.jpg');
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  z-index: -1;
}
#company {
  color: $white;
  font-size: $big-header;
  font-weight: $thin;
  letter-spacing: $gap;
}
nav {
  margin-top: $nav-top;

  .nav-link {
    color: $white;
    font-size: $little-p;
    font-weight: $thin;
    text-decoration: none;
    float: right;
    margin-left: $nav-left;
  }

  .nav-link:focus {
    outline: 0
  }

  .register-link {
    border: 1px solid $white;
    border-radius: 28px;
    padding: 1px 10px 1px 10px;
  }

  #registerLabel {
    font-size: $big-header;
    font-weight: $thin;
  }

  label {
    font-size: $paragraph;
    font-weight: $thin;
  }

  #submitButton {
    margin-right: 10px;
  }
}
.hook-row {
  text-align: center;
  color: $white;
  margin-top: $shove;

  #hook {
    font-size: $hook;
    font-weight: $skinny;
    letter-spacing: $gap;
    text-align: center;
    margin-bottom: $nudge;
  }

  #discover {
    color: $white;
    font-size: $sub-header;
    font-weight: $thin;
    text-decoration: none;
  }
}
.mission-row {
  color: $dark-gray;
  margin: {
    top: $mission-top;
    bottom: $nudge;
  }

  #mission {
    font-size: $huge-header;
    font-weight: $skinny;
    text-align: center;
    margin-bottom: $push;
  }

  .mission-statement {
    font-size: $paragraph;
    font-weight: $thin;
  }
}
.pilot-container {
  background-color: $fold-gray;
  width: 100%;
  text-align: center;
  margin-top: $shove;

  #pilotHeader {
    font-size: $huge-header;
    font-weight: $skinny;
    font-style: italic;
    letter-spacing: $gap;
    @include contentSpace;
  }

  .pilot-name {
    font-size: $sub-header;
    margin-top: $nudge;
  }

  .pilot-bio {
    color: $dark-gray;
    font-size: $little-p;
    font-weight: $thin;
    text-align: left;
    width: 300px;
    margin: {
      top: $nudge;
      bottom: $shove;
    }
    @include auto;
  }
}
#text-carousel {
  text-align: center;
  @include contentSpace;

  #testimonialHeader {
    font-size: $huge-header;
    font-weight: $skinny;
    letter-spacing: $gap;
    margin-bottom: 90px;
  }

  .testimonial {
    font-size: $paragraph;
    color: $gray;
    padding-bottom: $nudge;
    border-bottom: 1px solid $light-gray;
  }

  .human-picture {
    display: inline-block;
    margin-right: 5px;
  }

  .human {
    color: $dark-gray;
    display: inline-block;
  }

  .title {
    color: $light-gray;
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none
  }
}
.tier-container {
  background-color: $fold-gray;
  width: 100%;
  text-align: center;
  padding-bottom: $shove;

  #tierHead {
    font-size: $huge-header;
    font-weight: $skinny;
    margin: {
      top: $push;
      bottom: $shove;
    }
  }

  .space-tier {
    color: $dark-gray;
    font-size: $sub-header;
  }

  .tier-box {
    position: relative;
    height: 250px;
  }

  .border-right {
    border-right: 1px solid $light-gray;
  }

  .border-left {
    border-left: 1px solid $light-gray;
  }

  .info {
    color: $gray;
    font-size: $little-p;
    text-align: left;
    font-weight: $thin;
    margin-bottom: 5px;
  }

  .xs-order {
    position: relative;
    height: 150px;
  }

  #orderNow {
    font-size: $big-header;
    font-weight: $skinny;
    margin-top: $shove;
  }

  .order-pitch {
    font-size: $little-p;
  }

  .order-btn {
    background-color: transparent;
    color: $red-orange;
    font-size: $order;
    font-weight: $thin;
    letter-spacing: $gap;
    @include absolute;
    border: {
      radius: 28px;
      color: $red-orange;
    }
  }

  .order-btn:hover {
    color: $orange;
    border-color: $orange;
    transition: all 0.3s;
  }
}
.footer {
  background-color: $dark-gray;
  color: $white;
  width: 100%;
  padding: {
    top: $shove;
    bottom: $push;
  }

  .footies h4 {
    color: $light-gray;
    font-weight: $thin;
  }

  .footies p {
    font-weight: $thin;
  }

  .social {
    margin: {
      right: 10px;
      bottom: 5px;
    }
  }
}

/* ----- Medium devices (desktops, 992px; and up) ----- */
  @media (min-width: 992px) {
    .mission-row {
      margin-top: $mission-top2;
    }
  }