doctype html
html
  head
    title Mars-One
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    link(href="public/css/default.css" type="text/css" rel="stylesheet")
  body
    div.fold-background
    div.container
      div.row
        div.col-md-4.col-sm-4.col-xs-6
          h1#company Mars-One
        div.col-md-7.col-md-offset-1.col-sm-7.col-sm-offset-1.col-xs-5.col-xs-offset-1
          nav
            a(href="#" class="nav-link register-link" data-toggle="modal" data-target="#register") Sign up
            a(href="#" class="nav-link hidden-xs") Testimonials
            a(href="#" class="nav-link hidden-xs") Pilots
            a(href="#" class="nav-link hidden-xs") Space Tiers
            // Modal for sign up
            div(class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel")
              div(class="modal-dialog" role="document")
                div.modal-content
                  div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close") #[span(aria-hidden="true") &times;]
                    h4#registerLabel.modal-title Explore new horizons.
                  div(class="modal-body")
                    form(id="signUpForm" class="form")
                      label(for="email") Email:
                      input(type="text" class="form-control" id="email" name="email" placeholder="Email")
                      br
                      label(for="username") Username:
                      input(type="text" class="form-control" id="username" name="username" placeholder="Username")
                      br
                      label(for="password") Password:
                      input(type="text" class="form-control" id="password" name="password" placeholder="Password")
                      br
                      hr
                      button(type="submit" id="submitButton" class="btn btn-primary") Submit
                      button(type="button" id="closeButton" class="btn btn-default" data-dismiss="modal") Close
      div.row.hook-row
        h2#hook Your journey begins now, become a martian today.
        a(href="#" id="discover") Discover more >
    div.container
      div.row.mission-row
        div.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
          h3#mission Our mission statement
          p.mission-statement Human settlement of Mars is the next giant leap for humankind. We are dedicated to exploring the solar system as a united humanity. Mars is the stepping stone in aiding our understanding of the origins of the solar system. Mars-One™  will inspire generations to believe that all things are possible.
    div.container.pilot-container
      div.row
        h3#pilotHeader MEET THE PILOTS
        div.col-md-10.col-md-offset-1
          div.col-md-4
            div.pilot-box
              img(src="public/images/murph.png" alt="Murph pilot" class="pilots")
              p.pilot-name Murph
              p.pilot-bio Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
          div.col-md-4
            div.pilot-box
              img(src="public/images/damon.png" alt="Damon pilot" class="pilots")
              p.pilot-name Damon
              p.pilot-bio Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          div.col-md-4
            div.pilot-box
              img(src="public/images/adam.png" alt="Adam pilot" class="pilots")
              p.pilot-name Adam
              p.pilot-bio Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
    div(id="text-carousel" class="carousel slide" data-ride="carousel")
      div.row
        div.col-md-8.col-md-offset-2
          h5#testimonialHeader 100% CUSTOMER SATISFACTION!
          div.carousel-inner
            div.item.active
              div.carousel-content
                div
                  p.testimonial "I'd like to die on Mars, just not on impact. That being said, I have arrived and the martian sand is beautiful. Tesla will soon create machines fit to roam these horizons" 
                  img(src="public/images/elon.png" class="human-picture")
                  p.human Elon Musk, 
                  span.title  human
            div.item
              p.testimonial.carousel-content "Ever since I moved to Mars I have been browsing facebook less! Mars-One will soon be the new hub of social networking so get here while you can."
              img(src="public/images/zuckerberg.png" class="human-picture")
              p.human Mark Zuckerberg, 
              span.title  human
            div.item
              p.testimonial.carousel-content "The Mars-One mission has done a fantastic job in creating an atmosphere suitable for human kind. Bravo!"
              img(src="public/images/bill-gates.png" class="human-picture")
              p.human Bill Gates, 
              span.title  human
      a(href="#text-carousel" class="left carousel-control" data-slide="prev")
        span(class="glyphicon glyphicon-chevron-left")
      a(href="#text-carousel" class="right carousel-control" data-slide="next")
        span(class="glyphicon glyphicon-chevron-right")
    div.container.tier-container
      div.row
        div.col-md-8.col-md-offset-2
          h6#tierHead Begin your journey today!
          div.tier-box.col-md-4.col-sm-4.border-right
            p.space-tier The Orion
            ul 
              li.info Quick and compact
              li.info For the motivated
              li.info 12 days
              button(type="button" class="order-btn btn btn-default") ORDER
          div.tier-box.col-md-4.col-sm-4
            p.space-tier The normandy
            ul 
              li.info Familiar and fast
              li.info Room to spare
              li.info Tried and true method
              li.info 55 days
              button(type="button" class="order-btn btn btn-default") ORDER
          div.tier-box.col-md-4.col-sm-4.border-left
            p.space-tier The O'Neill
            ul 
              li.info Ideal for families
              li.info Earth like atmosphere
              li.info Extremely spacious
              li.info Controlled weather experience
              li.info 365 days
              button(type="button" class="order-btn btn btn-default") ORDER
    footer.footer.container
      div.row.col-md-10.col-md-offset-1
        div.col-md-4.col-sm-4.col-xs-4.footies
          h4 Technologies
          p HTML5 { Jade }
          p CSS3 { Sass }
          p JavaScript
          p Bootstrap
        div.col-md-4.col-sm-4.col-xs-4.footies
          h4 Authored By
          p Joshua Hwang
          p joshchwang@gmail.com
        div.col-md-4.footies
          a(href="#")
            img(src="public/images/facebook.png" class="social")
          a(href="#")
            img(src="public/images/instagram.png" class="social")
          a(href="#")
            img(src="public/images/twitter.png" class="social")
          a(href="https://www.linkedin.com/in/joshua-hwang-5a6384ba")
            img(src="public/images/linkedin.png" class="social")
    script(src="public/js/app.js")


