h1 {
  font-weight: 200;
  font-size: 45px;
}
h2, h3, h4 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
}
label {
  font-size: 13px;
  font-weight: 400;
}
input, select {
  margin-bottom: 10px;
}
.number {
  font-size: 30px;
  color: #FC5200;
  font-weight: 400;
}
.card-logo {
  margin-bottom: 20px;
}
.fedex {
  float: left;
}
.fedex-price {
  text-align: right;
  font-weight: 500;
}
.spacecraft {
  margin-top: 20px;
}
#tierImage, #craftLabel {
  display: inline-block;
}
#orionName, #normandyName, #oneillName {
  font-size: 30px;
  font-weight: 100;
  text-align: right;
  margin-left: 10px;
  margin-bottom: -30px;
}
.quantity-field {
  width: 50px;
  height: 30px;
}
.passengers {
  font-size: 16px;
}
.quantity {
  margin-top: 20px;
  margin-bottom: 20px;
}
span.glyphicon, #cost, #userPassengers {
  display: inline-block;
  margin-right: 10px;
}
table {
  margin-top: 15px;
}
.sub-price {
  text-align: right;
}
.total-label {
  font-weight: 500;
}
#commit {
  float: right;
  margin-top: 15px;
}
footer {
  width: 100%;
  height: 80px;
  text-align: right;
  color: #7F7875;
}
/* ---- Small devices (tablets, 768px and up) ---- */
  @media (min-width: 768px) {
    .fifties, .fifties2 {
      display: inline-block;
      width: 48%;
    }
    .fifties-right {
      margin-left: 20px;
    }
    .thirties-right {
      margin-left: 10px;
    }
    .thirties {
      display: inline-block;
      width: 32%;
    }
    .firstcol, .secondcol {
      margin-bottom: 30px;
    }
  }
/* ---- Medium devices (desktops, 992px and up) ---- */
  @media (min-width: 992px) {
    .fifties, .fifties2 {
      display: block;
      width: 100%;
    }
    .fifties-right, .thirties-right {
      margin-left: 0px;
    }
    .thirties {
      display: block;
      width: 100%;
    }
    .firstcol, .secondcol {
      border-right: 1px dotted black;
    }
    .secondcol, .thirdcol {
      height: 865px;
    }
  }