html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.fold-background {
  background: url('/public/images/the-martian.jpg');
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  z-index: -1;
}