/* CSS Style Guide
* {
  background: ;
  position: ;
  float: ;
  display: ;
  width: ;
  height: ;
  color: ;
  font: ;
  margin: ;
  padding: ;
  list: ;

  heirarchy of css properties
}
*/

* {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", sans-serif;
}
p {
  font-family: "Neue Helvetica" sans-serif;
}
.header {
  width: 100%;
  height: 90px;
  margin-bottom: 30px;
}
li {
  display: inline;
  float: left;
  font-size: 20px;
  margin-top: 25px;
  margin-right: 50px;
  margin-left: 30px;
  list-style: none;
}
a:link, a:visited {
  text-decoration: none;
  color: #080808;
}
.main {
  margin: 30px 0px 30px 0px;
}
.scheme {
  font-size: 40px;
  font-weight: 100;
}
.color {
  width: 120px;
  height: 120px;
}
.info-back {
  width: 100%;
  height: 400px;
}
h4 {
  font-size: 30px;
  margin-top: 30px;
}
.font {
  font-size: 60px;
}
.bold {
  font-size: 50px;
  font-weight: 700;
}
.italic {
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
}
.spaced {
  font-size: 30px;
  letter-spacing: 10px;
}

